[tool.bandit]
exclude_dirs = [".venv", "tests"]

[tool.black]
line-length = 88
target-version = ['py39']
include = '\.pyi?$'
exclude = '''
(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
  )/
)
'''

[tool.isort]
profile = "black"

[tool.mypy]
python_version = "3.9"
follow_imports = "silent"
strict_optional = true
strict_equality = true
warn_redundant_casts = true
warn_unused_ignores = true
disallow_any_generics = true
check_untyped_defs = true
no_implicit_reexport = true
disallow_untyped_defs = true
ignore_missing_imports = true
show_column_numbers = true


[tool.poetry]
authors = ["Reid Hochstedler <reidhoch@gmail.com>"]
classifiers = [
    "Intended Audience :: Developers",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Topic :: Security",
    "Topic :: Security :: Cryptography",
    "Topic :: Software Development :: Libraries :: Python Modules"
]
description = "Horcrux - A Python implementation of Shamir's Secret Sharing."
license = "MPL-2.0"
name = "horcrux"
packages = [{ include = "shamir" }]
readme = "README.md"
repository = "https://github.com/reidhoch/horcrux"
version = "1.0.1"

[tool.poetry.dependencies]
python = "^3.9"

[tool.poetry.dev-dependencies]
bandit = "^1.7.7"
black = "24.1.1"
flake8 = "^7.0"
flake8-2020 = "^1.8.1"
flake8-annotations = "^3.0.1"
flake8-bandit = "^4.1.1"
flake8-blind-except = "^0.2.1"
flake8-bugbear = "^24.2"
flake8-builtins = "^2.2.0"
flake8-commas = "^2.1"
flake8-comprehensions = "^3.14.0"
flake8-datetimez = "^20.10.0"
flake8-debugger = "^4.1.2"
flake8-docstrings = "^1.7"
flake8-executable = "^2.1.0"
flake8-implicit-str-concat = "^0.4.0"
flake8-import-order = "^0.18"
flake8-logging-format = "^0.9.0"
flake8-mutable = "^1.2.0"
flake8-no-pep420 = "^2.7.0"
flake8-noqa = "^1.4.0"
flake8-pie = "^0.16"
flake8-print = "^5.0.0"
flake8-pytest-style = "^1.7"
flake8-quotes = "^3.3.0"
flake8-return = "^1.2.0"
flake8-secure-coding-standard = "^1.4.1"
flake8-simplify = "^0.21.0"
flake8-tidy-imports = "^4.10.0"
flake8-type-checking = "^2.9.0"
flake8-unused-arguments = "^0.0.13"
flake8-use-pathlib = "^0.3.0"
isort = "^5.13"
mypy = "^1.8"
pep8-naming = "^0.13.3"
pre-commit = "^3.6"
pytest = "^8.0"
pytest-cov = "^4.1"
pytest-profiling = "^1.7"
pytest-xdist = {extras = ["psutil"], version = "^3.5"}
ruff = "^0.2.1"
shed = "^2024.1"
tox = "^4.12"
typer = {extras = ["all"], version = "^0.9.0"}

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
