[tool.bandit]
exclude_dirs = [".venv", "tests"]

[tool.black]
line-length = 88
target-version = ['py39']
include = '\.pyi?$'
exclude = '''
(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
  )/
)
'''

[tool.isort]
profile = "black"

[tool.mypy]
python_version = "3.9"
follow_imports = "silent"
strict_optional = true
strict_equality = true
warn_redundant_casts = true
warn_unused_ignores = true
disallow_any_generics = true
check_untyped_defs = true
no_implicit_reexport = true
disallow_untyped_defs = true
ignore_missing_imports = true
show_column_numbers = true


[tool.poetry]
authors = ["Reid Hochstedler <reidhoch@gmail.com>"]
classifiers = [
    "Intended Audience :: Developers",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Topic :: Security",
    "Topic :: Security :: Cryptography",
    "Topic :: Software Development :: Libraries :: Python Modules"
]
description = "Horcrux - A Python implementation of Shamir's Secret Sharing."
license = "MPL-2.0"
name = "horcrux"
packages = [{ include = "shamir" }]
readme = "README.md"
repository = "https://github.com/reidhoch/horcrux"
version = "1.0.0"

[tool.poetry.dependencies]
python = "^3.9"

[tool.poetry.dev-dependencies]
bandit = "^1.7.4"
black = "22.12.0"
flake8 = "^6.0"
flake8-2020 = "^1.7.0"
flake8-bugbear = "^23.1"
flake8-builtins = "^2.1.0"
flake8-commas = "^2.1"
flake8-comprehensions = "^3.10.1"
flake8-datetimez = "^20.10.0"
flake8-docstrings = "^1.7"
flake8-import-order = "^0.18"
flake8-mutable = "^1.2.0"
flake8-noqa = "^1.2.9"
flake8-pie = "^0.16"
flake8-print = "^5.0.0"
flake8-pytest-style = "^1.6"
flake8-secure-coding-standard = "^1.3.0"
flake8-simplify = "^0.19.0"
isort = "^5.11"
mypy = "^0.991"
pep8-naming = "^0.13.3"
pre-commit = "^3.0"
pytest = "^7.2"
pytest-cov = "^4.0"
pytest-profiling = "^1.7"
pytest-xdist = {extras = ["psutil"], version = "^3.0"}
shed = "^0.10"
tox = "^4.3"
typer = {extras = ["all"], version = "^0.7.0"}

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
